@inherits ConfigBase

<EditForm Model="@config" OnValidSubmit="@Save" class="mt-4">
    <div class="row">
        <span class="col-sm-12 spacer-h-10"></span>
    </div>
    <div class="row">
        <span class="col-sm-12 line"></span>
    </div>
    <div class="row">
        <h3>Settings</h3>
    </div>
    <div class="row">
        <span class="col-sm-12 line"></span>
    </div>
    <div class="row">
        <label class="col-sm-2">Theme:</label>
        <InputSelect id="Theme" class="col-sm-4"
                     @bind-Value="@config.Theme">
            <option selected>Dark</option>
            <option>Light</option>
        </InputSelect>
    </div>
    <div class="row">
        <label class="col-sm-2">Script Groups:</label>
        <div class="col-sm-4 mr-1 mt-1 pl-0 align-content-start">
            <InputCheckbox id="Theme"
                           @bind-Value="@config.ShowGroup">
            </InputCheckbox>
            Show on list
        </div>
    </div>

    <div class="row">
        <label class="col-sm-2">Export:</label>
        <div class="col-sm-4 mr-1 mt-1 pl-0 align-content-start">
            <InputCheckbox id="Theme"
                           @bind-Value="@config.ShowGroup">
            </InputCheckbox>
            Show on list
        </div>
    </div>

    <div class="row">
        <span class="button ml-2">
            <button type="submit" class="button-submit rounded">
                <img class="big-simbol button" src="./images/save.svg" />
            </button>
        </span>
        <span class="button ml-2">
            <img class="big-simbol button ml-0" src="./images/error.svg" alt="Cancel" @onclick="Close" />
        </span>
    </div>
</EditForm>